@media (min-width: 992px) {
    .container {
        max-width: 840px;
    }
}

body {
    overflow-y: scroll;
}

#content {
    text-align: justify;
    hyphens: auto;
}

.zutaten {
    list-style: none;
    text-align: left;
}

#content > div.row > div > .zutaten,
#content > div.row > div > .anleitung {
    padding-left: 0;
}

.zutaten li:before {
    content: "\25B8 \0020";
    margin-right: .25rem;
}

.anleitung {
    list-style-position: inside;
}

.anleitung li {
    padding-top: .5rem;
}

.alert p:last-child {
    margin-bottom: 0;
}

/** Dropdown submenu support **/
.navbar-light .navbar-nav .nav-link {
    color: rgb(64, 64, 64);
}
.btco-menu li > a {
    padding: 10px 15px;
    color: #000;
}

.btco-menu .active a:focus,
.btco-menu li a:focus ,
.navbar > .show > a:focus{
    background: transparent;
    outline: 0;
}

.dropdown-menu .show > .dropdown-toggle::after {
    transform: rotate(-90deg);
}

.dropdown-menu .dropdown-menu {
    margin-top: calc(0px - 1px - 0.5rem);
}
