.container {
    padding-left: 30px;
    padding-right: 30px;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

body {
    padding-top: 70px;
}


#content {
    text-align: justify;
    hyphens: auto;
}

.zutaten {
    list-style: none;
}

.zutaten,
.anleitung {
    padding-left: 0;
}

.zutaten li:before {
    content: "\25B8 \0020";
}

.anleitung li {
    padding-top: 8px;
}

.bg-info {
    padding: 10px;
}

.bg-info p:last-child {
    margin-bottom: 0;
}

.rotate270 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 4px;
    -moz-border-radius: 0 4px 4px;
    border-radius: 0 4px 4px 4px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
